[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
q = "*"
faker = "*"
factory-boy = "*"

[packages]
django = "*"
djongo = "*"

[requires]
python_version = "3.9"
